@import './variables.scss';

.is-editor-wrapper {
    margin: 0.5rem;
}

.is-editor {
    width: 90vw;
    height: 65vh;
    background-color: $mainBackground;
    border-radius: 20px;
    outline: none;
    font-size: 1.3rem;
    padding: 10px;
}

.is-markdown-content {
    text-align: left !important;
    max-width: 90vw;
    margin: 0 1rem 0 1rem;
    padding: 10px;
    word-break: break-all;
}